<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Добавление отеля</h2>
</div>
<form th:action="@{/hotel}" method="post">
    <h4><label for="location">Местоположение:
        <input id="location" type="text" name="location">
    </label></h4>
    <button type="submit">Добавить</button>
</form>
<div>
    <h2>Добавление комнаты</h2>
</div>
<form th:action="@{/room}" method="post">
    <h4><label for="hotelId">Id отеля:
        <input id="hotelId" type="int" name="hotelId">
    </label></h4>
    <button type="submit">Добавить</button>
</form>
<div>
    <h2>Список отелей</h2>
</div>
<div th:if="${hotels.iterator().hasNext() != false}">
    <table>
        <thead>
        <tr>
            <th>Id отеля</th>
            <th>Местоположение</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="hotel: ${hotels}">
            <tr>
                <td>
                    <p th:text="${hotel.getId()}">Id отеля</p>
                </td>
                <td>
                    <p th:text="${hotel.getLocation()}">Местоположение</p>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
<div>
    <h4><span th:text="${hotels.iterator().hasNext() == false} ? 'Список отелей пуст'">
        Text
    </span>
    </h4>
    <br><br>
</div>
</body>
</html>