<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<div>
    <h2>Вход</h2>
</div>
<form th:action="@{/user/authenticate}" method="post">
    <h4><label for="login">Логин:
        <input id="login" type="text" name="login">
    </label></h4>
    <h4><label for="password">Пароль:
        <input id="password" type="password" name="password">
    </label></h4>
    <button type="submit">Войти</button>
</form>
</body>
</html>