<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ввод парметров брони</title>
</head>
<body>
<div>
    <h2>Введите интересующие параметры брони</h2>
</div>
<form th:action="@{/hotel/reserveRoom/{userId}(userId=${userId})}" method="get">
    <h4><label for="startDate">Дата начала:
        <input id="startDate" type="date" name="startDate">
    </label></h4>
    <h4><label for="endDate">Дата окончания:
        <input id="endDate" type="date" name="endDate">
    </label></h4>
    <h4><label for="location">Местоположение:
        <input id="location" type="text" name="location">
    </label></h4>
    <button type="submit">Ввести</button>
</form>
<div>
    <h2>Введите параметры для удаления брони</h2>
</div>
<form th:action="@{/reservation/delete/{userId}(userId=${userId})}" method="post">
    <h4><label for="hotelId">Id отеля:
        <input id="hotelId" type="int" name="hotelId">
    </label></h4>
    <h4><label for="roomId">Id комнаты:
        <input id="roomId" type="int" name="roomId">
    </label></h4>
    <h4><label for="startDateForDel">Дата начала:
        <input id="startDateForDel" type="date" name="startDateForDel">
    </label></h4>
    <h4><label for="endDateForDel">Дата окончания:
        <input id="endDateForDel" type="date" name="endDateForDel">
    </label></h4>
    <button type="submit">Удалить</button>
</form>
</body>
</html>